<mat-toolbar color="primary">
<ul>
    <a *ngIf="_userService.loggedIn()" routerLink="saveTask">Create task</a>
</ul>
<ul>
    <a *ngIf="_userService.loggedIn()" routerLink="listTask">List task</a>
</ul>
<ul>
    <a *ngIf="_userService.loggedIn()" routerLink="listUser">Users</a>
</ul>
<ul>
    <a *ngIf="_userService.loggedIn()" routerLink="registerRole">Create role</a>
</ul>
<ul>
    <a *ngIf="_userService.loggedIn()" routerLink="listRole">Role</a>
</ul>
<span class="headerSpacer"></span>
<ul>
    <a *ngIf="!_userService.loggedIn()"  mat-button routerLink="register">Sign up</a>
    <a *ngIf="!_userService.loggedIn()" mat-button routerLink="login">Login</a>
    <a *ngIf="_userService.loggedIn()" (click)="_userService.logout()" mat-button>Logout</a>
</ul>
</mat-toolbar>
